{% extends "songs/base.html" %}

{% block content %}
    <div class="song">
        {% if song.published_date %}
            <div class="date">
                {{ song.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'songs.views.song_publish' pk=song.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'song_edit' pk=song.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'song_remove' pk=song.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h1>{{ song.title }}</h1>
        <p>{{ song.text|linebreaks }}</p>
    </div>
    <hr>
    {% for video in song.videos.all %}
        <div class="embed-responsive embed-responsive-16by9">           
            <iframe class="embed-responsive-item" src="{{ video.url }}" width="500"  height="300"></iframe>
        </div>
        <h4 class="media-heading">{{ video.title }}</h4>
        <p>holding description</p>

    {% empty %}
        <p>No videos yet</p>
    {% endfor %}
{% endblock %}


